html {
    width: 80%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #6fbfe4;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #6fbfe4;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fgiphy.com%2Fgifs%2Fsnow-gallery-Cv7wrQjYcd6hO&psig=AOvVaw25Ni7QM0q-R-xXThumq6t_&ust=1584156593100000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPip9q_BlugCFQAAAAAdAAAAABAD");
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}

@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}

#file-log-table {
    display: block;
    max-height: 500px;
}

#file-table-body {
    overflow-y: scroll;
    max-height: 300px;
}

.btn-space {
    margin-right: 5px;
}

#confirm-edit-title, #confirm-edit-desc, .save-edit-attr-btns {
    display: none;
}

/* #contents-table  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}


#contents-table-body {
    height:300px;
    overflow-y: auto;
    width: 100%;
} */

.header-fixed {
    width: 100%;
    height: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > th, 
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    max-height: 300px;
}

.col-component {
    width: 20%;
    float: left;
    height: 100%;
}

.col-summary {
    width: 60%;
    float: left;
    height: 100%;
}

.col-attributes {
    width: 20%;
    float: left;
    height: 100%;
}

.header-fixed > thead > tr > th{
    white-space: nowrap;
}

.image {
    width: 100%;
    height: auto;
}

.img-cell {
    max-width: 200px;
}

.img-view {
    max-width: 800px;
}

.table {
    width: 100%;
}